{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Bienvenue {{ user.first_name }}</h2>
  <!-- Section Guelakan -->
  <div class="card mt-4">
    <div class="card-header bg-primary text-white">Gelekan</div>
    <div class="card-body">
      <p>Gérez vos séminaire Gelekan publiés ou en brouillon.</p>
      <a href="{% url 'guelekan_list' %}" class="btn btn-outline-primary me-2">
        <i class="fas fa-newspaper me-1"></i> Voir Gelekan
      </a>
      <a href="{% url 'guelekan_create' %}" class="btn btn-outline-success">
        <i class="fas fa-plus me-1"></i> Nouveau Gelekan
      </a>
    </div>
  </div>

  <!-- Section Articles -->
  <div class="card mt-4">
    <div class="card-header bg-primary text-white">Mes Articles</div>
    <div class="card-body">
      <p>Gérez vos articles publiés ou en brouillon.</p>
      <a href="{% url 'article_list' %}" class="btn btn-outline-primary me-2">
        <i class="fas fa-newspaper me-1"></i> Voir mes articles
      </a>
      <a href="{% url 'article_create' %}" class="btn btn-outline-success">
        <i class="fas fa-plus me-1"></i> Nouvel article
      </a>
    </div>
  </div>

  <!-- Section Événements -->
  <div class="card mt-4">
    <div class="card-header bg-info text-white">Mes Événements</div>
    <div class="card-body">
      <p>Gérez vos événements publiés ou à venir.</p>
      <a href="{% url 'event_list' %}" class="btn btn-outline-info me-2">
        <i class="fas fa-calendar-alt me-1"></i> Voir mes événements
      </a>
      <a href="{% url 'event_create' %}" class="btn btn-outline-success">
        <i class="fas fa-plus me-1"></i> Nouvel événement
      </a>
    </div>
  </div>
</div>
  <!-- Section Galerie -->
  <div class="card mt-4">
    <div class="card-header bg-primary text-white">Galeries</div>
    <div class="card-body">
      <p>Gérez vos albums photos.</p>
      <a href="{% url 'gallery_list' %}" class="btn btn-outline-primary me-2">
        <i class="fas fa-newspaper me-1"></i> Albums Photos
      </a>
      <a href="{% url 'gallery_create' %}" class="btn btn-outline-success">
        <i class="fas fa-plus me-1"></i> Creer albums
      </a>
    </div>
  </div>
<!-- Section Création utilisateur -->
 <div class="card mt-4">
    <div class="card-header bg-primary text-white">Membre</div>
    <div class="card-body">
      <p>Gérez vos membres </p>
      <a href="{% url 'user_list' %}" class="btn btn-outline-primary me-2">
        <i class="fas fa-newspaper me-1"></i> Voir mes articles
      </a>
      <a href="{% url 'create_member' %}" class="btn btn-outline-success">
        <i class="fas fa-plus me-1"></i> Nouveau Membre
      </a>
    </div>
  </div>

{% endblock %}